.Characters {
    display: flex;
    flex-direction: column;
}

.Characters-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.Characters-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    grid-row-gap: 1.5em;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

.Characters-search {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.Characters-search input{
    width: 40%;
    height: 35px;
    border-radius: 10px;
    border: solid 2px black;
    padding: 15px;
    background:#d7dde8;
}
