.Header {
    text-align: center;
}

.Header h1{
    padding: 10px 0px;
}

.Button-light{
    background-color: whitesmoke;
    color: black;
    width: 120px;
    height: 30px;
}

.Button-dark {
    background-color: black;
    color: white;
    width: 120px;
    height: 30px;
}


