.App {
    width: 100%;
}

.Light-mode {
    background: linear-gradient(to right,#0f3443,#36d1dc, #0f3443 95%);
    color:black;
}

.Dark-mode {
    background: linear-gradient(to right, #232526, #434343,#434343, #232526);
    color: whitesmoke;
}