.App {
    width: 100%;
}

.Light-mode {
    background: linear-gradient(#dbdbdb, #eaeaea);
    color: black;
}

.Dark-mode {
    background: linear-gradient(#434343,#000000);
    color: whitesmoke;
}